<div class="container">
  <h1>Kalkulator Bangun Ruang Ola</h1>

  <mat-form-field>
    <mat-label>Bangun Ruang</mat-label>
    <mat-select [(value)]="bangunRuang">
      <mat-option value="Balok">Balok</mat-option>
      <mat-option value="Kubus">Kubus</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="bangunRuang==='Balok'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Balok</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="variables">
          <mat-form-field>
            <input matInput placeholder="p" [(ngModel)]="p">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="l" [(ngModel)]="l">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="t" [(ngModel)]="t">
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <p>Hasil</p>
        <div class="results">
          <mat-form-field>
            <input matInput placeholder="L" disabled [value]="luas">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="V" disabled [value]="volume">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput [value]="solusi" disabled></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="hitungBalok()">Hitung</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="bangunRuang==='Kubus'">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Kubus</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="variables">
          <mat-form-field>
            <input matInput placeholder="s" [(ngModel)]="s">
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <p>Hasil</p>
        <div class="results">
          <mat-form-field>
            <input matInput placeholder="L" disabled [value]="luas">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="V" disabled [value]="volume">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput [value]="solusi" disabled></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="hitungKubus()">Hitung</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>